nav {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.App nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.create-creature{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  overflow-wrap: normal;
  max-width: 200px;
  height: 100%;
  background-color: lightgrey;
}


.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 175px;
  height: 200px;
  border: solid;
  border-radius: 15px;
}

.Board {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: solid;
  border-color: black;
  border-radius: 20px;
}

.power-button{
  width:20px;
  height:20px;
  border-radius: 10px;
}

.toughness-button{
  width:20px;
  height:20px;
  border-radius: 10px;
}


.power-toughness{
  display: inline;
  font-size: 20px;
}